@use './partials/header';
@use './partials/hero';
@use './partials/mainNav';
@use './partials/footerTop';
@use './partials/variables' as *;

@import '~bootstrap/scss/bootstrap';

ul{
    list-style-type: none;
    a{
        text-decoration: none;
        color: black;
    }
}